.about-home{
    font-family: 'Times New Roman', Times, serif;
}

.about-page{
    height: 600px;
    width: 100%;
    background-image: url(../../UI/images/Rolex-Outdoor.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.about-page::after{
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 41, 7, 0.911);
}

.about-home .about-text{
    position: absolute;
    top: 456px;
    left: 300px;
    color: white;
}



@media (max-width:576px) {
    .about-home .about-text {
        top: 422px;
        left: 30px;
    }
}

@media (min-width:576px) {
    .about-home .about-text {
        top: 422px;
        left: 30px;
    }
}

@media (min-width:778px) {
    .about-home .about-text {
        top: 422px;
        left: 96px;
    }
}

@media (min-width:778px) {
    .about-home .about-text {
        top: 456px;
        left: 300px;
    }
}