.text{
    font-family: 'Times New Roman', Times, serif;
}
.discover .disimg1{
    background-image: url("../../images/dimg1.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    /* width: 100%; */
    max-width: 100%;
    border-radius: 50px 0px 0px 0px;
    box-shadow: 0px 0px 5px rgb(13, 71, 13);
}

.discover .disimg3{
    background-image: url("../../images/dimg2.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    /* width: 100%; */
    max-width: 100%;
    
    box-shadow: 0px 0px 5px rgb(13, 71, 13);
}



@media (max-width:576px) {
    discover .disimg3{
        height: 400px;
    }
}
